<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>711315465878-hm0ni21ae99muck2odrsdd8i7dj39931.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711315465878-hm0ni21ae99muck2odrsdd8i7dj39931</string>
	<key>API_KEY</key>
	<string>AIzaSyD_z5_C4Viv4b18SMZG9Ixc21TuoG0SOLU</string>
	<key>GCM_SENDER_ID</key>
	<string>711315465878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickandgol.pickandgol-ios</string>
	<key>PROJECT_ID</key>
	<string>my-project-1486060125005</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1486060125005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:711315465878:ios:5b4582beb9f3d74d</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1486060125005.firebaseio.com</string>
</dict>
</plist>